body{
    background: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: 1280px;
}

div{
    margin-top: 250px;
    text-align: center;
}

canvas{
    margin-top: 80px;
    margin-left: 380px;
}